.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 50px 0;
}

.disclaimerBox {
  background: #fff;
  margin-left: auto;
  margin-right: auto;

  display: flex;

  flex-direction: column;
  gap: 15px;
  border-radius: 0.625rem;
  border: 3px solid #000;
  box-shadow: 10px 10px 0px 0px #000;
  gap: 1rem;
  padding: 1.5rem 2.5rem;
  max-width: 500px;
  position: relative;
}
.title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  color: #000;
}
.info {
  font-size: 20px;
  color: #000;
  text-align: center;
}
.warning {
  color: #730c0c;
  width: 100px;
  position: absolute;
  left: 10px;
  bottom: 0;
  transform: translate(-50%, 40%);
}
.boxWrapper {
  position: relative;
}
.box {
  width: 25rem;
  height: 34rem;
  background: #ffc701;

  border: 4px solid;
  border-color: #000;
  border-radius: 62.4375rem 62.4375rem 0rem 0rem;
  position: relative;
}
.img {
  position: absolute;
  max-width: 20rem;
  width: 100%;
  right: -24px;
  bottom: 0;
}
.goingToZero {
  background: #fff;

  font-weight: 700;
  text-align: center;
  border-radius: 10rem;
  border: 3px solid #000;
  box-shadow: 10px 10px 0px 0px #000;
  top: unset;
  left: unset;
  font-size: 1rem;

  padding: 1rem 2rem;
  font-size: 36px;
  font-weight: 700;
  color: #000;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-70%, 40%);
}
@media only screen and (max-width: 1199px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 65px;
  }
  .disclaimerBox {
    max-width: 100%;
  }
  .boxWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  .box {
    height: 28rem;
  }
  .goingToZero {
    position: static;
    transform: none;
  }
}
@media only screen and (max-width: 767px) {
  .goingToZero {
    font-size: 24px;
  }
  .warning {
    width: 60px;
  }
}
@media only screen and (max-width: 520px) {
  .boxWrapper {
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .title {
    font-size: 36px;
  }
  .info {
    font-size: 16px;
  }
  .goingToZero {
    font-size: 22px;
    padding: 1rem 1rem;
  }
}
