.wrapper {
  background: #000;
}
.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

.logoAndHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.img {
  max-width: 270px;

  width: 100%;
}
.heading {
  font-size: 70px;
  padding: 15px 0;
}
.counterWrapper {
  box-shadow: 10px 10px 0px 0px #000;
  border: 4px solid #000;
  z-index: 2;
  background: #fff;

  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding: 18px 15px;
  margin-top: -90px;
  position: relative;
}
.joints {
  box-shadow: 10px 10px 0px 0px #000;
  border: 2px solid #000;
  z-index: 2;
  background: #fff;

  border-radius: 1.8rem;

  padding: 10px 18px;
  position: absolute;
  bottom: 0;
  right: 10px;
  transform: translateY(50%);
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.count {
  font-size: 64px;
  text-align: center;
  color: #000;
  font-weight: 700;
  text-align: center;
}
.progressContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 40px;

  padding: 100px 00;
}
.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.percentage {
  font-size: 70px;
  font-weight: 700px;
}
.item1 {
  background: linear-gradient(90deg, #f087ff -0.41%, #601bb3 99.59%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.item2 {
  background: linear-gradient(90deg, #1fcff1 -0.41%, #1d3f99 99.59%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.item3 {
  background: linear-gradient(90deg, #19fb9b -0.41%, #0d7d76 99.59%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.item4 {
  background: linear-gradient(90deg, #f087ff -0.41%, #601bb3 99.59%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.text {
  font-size: 18px;
}

@media only screen and (max-width: 991px) {
  .heading {
    font-size: 60px;
  }
  .count {
    font-size: 55px;
  }
  .joints {
    font-size: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .logoAndHeading {
    flex-direction: column-reverse;
  }
  .heading {
    font-size: 45px;
  }
  .img {
    max-width: 200px;
    margin-left: auto;
  }
  .count {
    font-size: 40px;
  }
  .joints {
    font-size: 20px;
  }
  .progressContainer {
    grid-template-columns: repeat(2, 1fr);
  }
  .percentage {
    font-size: 60px;
  }
}
@media only screen and (max-width: 520px) {
  .img {
    max-width: 180px;
    margin-left: auto;
  }
  .counterWrapper {
    margin-top: -65px;
  }
  .count {
    font-size: 30px;
  }
  .joints {
    font-size: 18px;
  }
  .progressContainer {
    grid-template-columns: 1fr;
  }
  .percentage {
    font-size: 50px;
  }
}
